<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>欢迎来到 我的个人github</title>
    <link rel="stylesheet" href="./../../styles/css/reset.css">
    <link rel="stylesheet" href="./../../styles/css/base.css">
    
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.8.2/lib/theme-chalk/index.css">
</head>
<body>
    <div id="app" class="app" v-cloak>
        <div class="left-menu">
            <el-radio-group 
                class="radio-group"
                v-model="isCollapse" 
                size="mini"
            >
                <el-radio-button :label="false">展开</el-radio-button>
                <el-radio-button :label="true">收起</el-radio-button>
            </el-radio-group>
            <el-menu 
                class="menu"
                default-active="activeIndex"  
                @open="handleOpen" 
                @close="handleClose" 
                @select="handleSelect"
                :collapse="isCollapse"
            >
                <el-menu-item 
                    :index="item.path" 
                    v-for="(item, index) in menuList"
                    :key="index"
                >
                    <i :class="item.icon"></i>
                    <span slot="title" v-text="item.title"></span>
                </el-menu-item>
            </el-menu>
            
        </div>
        <iframe ref="iframe" :src="path" frameborder="0" class="iframe"></iframe>
    </div>
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui@2.8.2/lib/index.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: function() {
                return { 
                    path: './windows屏保.html',
                    isCollapse: false,
                    // <p style="text-align: center; padding: 0 10px;">使用键盘（上下左右）键控制物体行走</p>
                    menuList: [
                        {path: './3D盒子.html', title: '3D盒子', icon: 'el-icon-menu'},
                        {path: './canvas 时钟.html', title: 'canvas 时钟', icon: 'el-icon-menu'},
                        {path: './translateZ  平移.html', title: 'translateZ  平移', icon: 'el-icon-menu'},
                        {path: './windows屏保 .html', title: 'canvas 特效', icon: 'el-icon-menu'},
                        {path: './windows屏保.html', title: 'canvas 特效', icon: 'el-icon-menu'},
                        {path: './彩色文字.html', title: '彩色文字', icon: 'el-icon-menu'},
                        {path: './倒影.html', title: '倒影', icon: 'el-icon-menu'},
                        {path: './登录.html', title: '登录效果', icon: 'el-icon-menu'},
                        {path: './分块运动/分块运动9.html', title: '分块效果', icon: 'el-icon-menu'},
                        {path: './翻书.html', title: '翻书效果', icon: 'el-icon-menu'},
                        {path: './翻转照片.html', title: '翻转照片', icon: 'el-icon-menu'},
                        {path: './穿墙/拉勾网穿墙效果.html', title: '网穿墙效果', icon: 'el-icon-menu'},
                        {path: './官网左右切换3d相册 .html', title: '左右切换3d相册', icon: 'el-icon-menu'},
                        {path: './简易时钟.html', title: '简易时钟', icon: 'el-icon-menu'},
                        {path: './链式运动.html', title: '链式运动', icon: 'el-icon-menu'},
                        {path: './蒙板.html', title: '蒙板', icon: 'el-icon-menu'},
                        {path: './漂浮.html', title: '漂浮', icon: 'el-icon-menu'},
                        {path: './文件 拖拽2.html', title: '文件 拖拽', icon: 'el-icon-menu'},
                        {path: './正反面.html', title: '正反面', icon: 'el-icon-menu'},
                        {path: './验证码插件.html', title: '验证码', icon: 'el-icon-menu'},
                        {path: './原生js封装运动效果.html', title: '原生js封装运动效果', icon: 'el-icon-menu'},
                        {path: './DIV清除.html', title: '拖拽物体回放', icon: 'el-icon-menu'},
                        {path: './滚轮事件的练习.html', title: 'js鼠标滚轮事件', icon: 'el-icon-menu'},
                        {path: './自定义滚动条.html', title: '自定义滚动条', icon: 'el-icon-menu'},
                        {path: './漂亮的滚轮.html', title: '自定义滚动条2', icon: 'el-icon-menu'},
                        {path: './键盘控制DIV走   可以走斜着走   定时器问题没有开好.html', title: 'js键盘事件', icon: 'el-icon-menu'},
                        {path: './九宫格拖拽  重用.html', title: '九宫格拖拽', icon: 'el-icon-menu'},
                        {path: './碰撞换位置2.html', title: '碰撞换位置', icon: 'el-icon-menu'},
                        {path: './事件委托 拖拽多个   创建标签.html', title: '物体随意拖拽', icon: 'el-icon-menu'},
                        {path: './鼠标跟随.html', title: '鼠标跟随', icon: 'el-icon-menu'},
                        {path: './评分效果/index.html', title: '评分效果', icon: 'el-icon-menu'},
                        {path: './评分效果/星星评分.html', title: '星星评分', icon: 'el-icon-menu'},
                        {path: './时钟/图片时钟.html', title: '时钟', icon: 'el-icon-menu'},
                        {path: './时钟.超酷数码钟表/数码时钟.html', title: '数码时钟', icon: 'el-icon-menu'},
                        {path: './双色球findInArr.html', title: '切换随机数', icon: 'el-icon-menu'},
                        {path: './拍卖倒计时 还有点问题没解决.html', title: '拍卖倒计时', icon: 'el-icon-menu'},
                        {path: './看看计算机所有汉字.html', title: '计算机所有汉字', icon: 'el-icon-menu'},
                        {path: './多级下拉菜单2.html', title: '多级下拉菜单', icon: 'el-icon-menu'},
                        {path: './无缝滚动/index.html', title: '无缝滚动', icon: 'el-icon-menu'},
                        {path: './无缝滚动/无缝滚动图.html', title: '无缝滚动2', icon: 'el-icon-menu'},
                        {path: './鼠标按下-滚动图片/index.html', title: '鼠标按下-滚动图片', icon: 'el-icon-menu'},
                        {path: './简单游戏/index.html', title: '简单游戏', icon: 'el-icon-menu'},
                        {path: './苹果菜单/index.html', title: '苹果菜单', icon: 'el-icon-menu'},
                        {path: './点击回到顶部  运动.html', title: '点击回到顶部', icon: 'el-icon-menu'},
                        {path: './纯数字运动.html', title: '纯数字运动', icon: 'el-icon-menu'},
                        {path: './圆的运动2.html', title: '圆的运动', icon: 'el-icon-menu'},
                        {path: './吸顶条.html', title: '吸顶条', icon: 'el-icon-menu'},
                        {path: './图片延迟加载/index.html', title: '图片延迟加载', icon: 'el-icon-menu'},
                        {path: './输入杠文字提示 聚焦  失焦的应用.html', title: '自定义placeholder', icon: 'el-icon-menu'},
                        {path: './简易瀑布流.html', title: '瀑布流效果', icon: 'el-icon-menu'},
                        {path: './按高度排序l切换排.html', title: '排序效果', icon: 'el-icon-menu'},
                        {path: './放大镜图片/demoOK.html', title: '电商放大镜效果', icon: 'el-icon-menu'},
                        {path: './多级树形菜单/树形菜单3-4.html', title: '多级树形菜单', icon: 'el-icon-menu'},
                    ],
                    activeIndex: './pages/html.css/index.html',
                }
            },
            mounted () {
            },
            methods: {
                handleSelect(key, keyPath) {
                    if (key) {
                        this.path = key;
                    }
                },
                handleOpen (key, keyPath) {},
                handleClose (key, keyPath) {}
            }
        })
    </script>
</body>
</html>