<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>欢迎来到 我的个人github</title>
    <link rel="stylesheet" href="./../../styles/css/reset.css">
    <link rel="stylesheet" href="./../../styles/css/base.css">
    
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.8.2/lib/theme-chalk/index.css">
</head>
<body>
    <div id="app" class="app">
        <div class="left-menu">
            <el-radio-group 
                class="radio-group"
                v-model="isCollapse" 
                size="mini"
            >
                <el-radio-button :label="false">展开</el-radio-button>
                <el-radio-button :label="true">收起</el-radio-button>
            </el-radio-group>
            <el-menu 
                class="menu"
                default-active="activeIndex"  
                @open="handleOpen" 
                @close="handleClose" 
                :collapse="isCollapse"
            >
                <el-menu-item 
                    :index="item.path" 
                    v-for="(item, index) in menuList"
                    :key="index"
                >
                    <i :class="item.icon"></i>
                    <span slot="title" v-text="item.title"></span>
                </el-menu-item>
            </el-menu>
            
        </div>
        <iframe ref="iframe" src="" frameborder="0" class="iframe"></iframe>
    </div>
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui@2.8.2/lib/index.js"></script>
    <script>
        new Vue({
            el: '#app',
                data: function() {
                return { 
                    isCollapse: false,
                    menuList: [
                        {path: './pages/html.css/index.html', title: 'test', icon: 'el-icon-location'},
                        {path: './pages/html.css/aa.html', title: 'test2', icon: 'el-icon-menu'},
                    ],
                    activeIndex: './pages/html.css/index.html',
                }
            },
            mounted () {
                this.$iframe = this.$refs.iframe;
            },
            methods: {
                handleSelect(key, keyPath) {
                    console.log(key, keyPath);
                    if (key) {
                        this.$iframe.src = key;
                    }
                },
                handleOpen (key, keyPath) {},
                handleClose (key, keyPath) {}
            }
        })
    </script>
</body>
</html>